@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  margin: 0;
  padding: 0;

  position: absolute;
  width: 100%;
  height: 100%;

	color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  background-color: #242529;
}

#form-container {
  padding: 10px;
  box-shadow: #9c9c9c;

  font-family: 'Roboto', sans-serif;
  font-weight: lighter;

  width: 35%;
  max-width: 400px;
  min-width: 300px;

  margin: 0 auto;
}

#form-container label {
  padding: 1px;
}

input[type=text] {
  display: block;
  outline: none;
  padding: 10px;
  margin-bottom: 7px;
  border: none;
  box-shadow: 0 0 1px #7a7a7a;

  width: calc(100% - 20px);
  box-sizing: padding-box;

  font-size: 16px;
  border-bottom: 3px #8b8b8b solid;
  transition: border-bottom-color ease-out 250ms;
}

input[type=text]:focus {
  border-bottom: 3px #157a1f solid;
}

input[type=submit] {
  display: block;
  margin-top: 13px;
  width: 100%;
  height: 30px;

  outline: none;
  border: none;

  background-color: #008b46;
  color: #ffffff;

  font-size: 17px;

  border-radius: 2px;

  box-sizing: padding-box;
}

select {
  display: block;
  outline: none;
  padding: 10px;
  margin-bottom: 7px;
  border: none;
  box-shadow: 0 0 1px #7a7a7a;

  width: 100%;
  box-sizing: padding-box;

  font-size: 16px;
  border-bottom: 3px #157a1f solid;
  transition: border-bottom-color ease-out 250ms;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  position: relative;
  background-color: #292a2e;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  margin: auto;
  padding: 0;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
  from { top:-300px; opacity:0 }
  to { top:0; opacity:1 }
}

@keyframes animatetop {
  from { top:-300px; opacity:0 }
  to { top:0; opacity:1 }
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header { padding: 2px 16px; }

.modal-body { padding: 2px 16px; }
